-# MessagesControllerからの遷移
.flash-box
.wrapper
  .side-bar
    .header
      = render './groups/user_info'  
    = render './groups/groups_info'        
  .chat-main
    = render './groups/main_header'
    .messages
      = render partial: 'message', collection: @messages
    = render 'messages_form'